{
 auto_https disable_redirects
}

(application) {
 handle /api/* {
  reverse_proxy backend:3000
 }
 handle /socket.io/* {
  reverse_proxy backend:3000
 }
 handle {
  root * /srv
  try_files {path} /index.html
  file_server
 }
 encode gzip zstd
}

:80 {
 import application
}

{$SITE_ADDRESS:http://localhost} {
 import application
}
